@* darori t3ayat 3la l model bach t9der tchof l prop lta7t wykon 3and strongly tayped data *@
@* haka kadir strongly typed html *@
@model Employee
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "employee.jpg");
    // if Model.PhotoPath is null than use employee.jpg
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top myImage" asp-append-version="true" src="@photoPath" />

                <h4>Employee ID : @Model.Id</h4>
                <h4>Email : @Model.Email</h4>
                <h4>Department : @Model.Department</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Id"  class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>